src/main/mule/data-migration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="data-migrationFlow" doc:id="2cc07225-dbbb-4ee4-a975-ee866a0c64b7" >
		<http:listener doc:name="Listener" doc:id="52237874-2ae7-4026-91ad-1a1d65c56318" config-ref="HTTP_Listener_config" path="/migrate"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="4833f176-9e89-40af-9d9b-7458dcfb5f23" >
			<route >
				<s3:get-object doc:name="Get Items object" doc:id="1aca516a-5acc-452a-85fe-2049b72a6c6c" config-ref="Amazon_S3_Configuration" bucketName="g13-inventory" key="Items.csv"/>
				<ee:transform doc:name="Transform Message" doc:id="91b3e187-ef30-4384-8e1b-07cdf0c66e74" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Item_Name: payload01.ITEM_NAME,
	Item_Description: payload01.ITEM_DESCRIPTION,
	Price: payload01.PRICE,
	Availability: payload01.AVAILABILITY
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:bulk-insert doc:name="Bulk insert" doc:id="f52f8b67-dcf5-4fb7-a163-d6910b6f1bd3" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into Items (Item_Name, Item_Description, Price, Availability)
values (:Item_Name, :Item_Description, :Price, :Availability)]]></db:sql>
				</db:bulk-insert>
			</route>
			<route >
				<s3:get-object doc:name="Get Accounts Object" doc:id="eb751bdc-a830-49be-bb82-d608818492c9" config-ref="Amazon_S3_Configuration" bucketName="g13-inventory" key="Accounts.csv"/>
				<ee:transform doc:name="Transform Message" doc:id="a6a3db11-21cb-43cf-beb8-e41bb432f1fc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Name: payload01.Name,
	Phone: payload01.Phone,
	Email: payload01.Email,
	Street: payload01.Street,
	City: payload01.City,
	State: payload01.State,
	Pincode: payload01.Pincode
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:bulk-insert doc:name="Bulk insert" doc:id="10204b84-1c64-4bd8-9d7e-da2be0b59645" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into Accounts (Name,Phone,Email,Street,City,State,Pincode)
values (:Name,:Phone,:Email,:Street,:City,:State,:Pincode)]]></db:sql>
				</db:bulk-insert>
			</route>
			<route >
				<s3:get-object doc:name="Get Orders Object" doc:id="57180784-8549-4466-8985-765c406a18b4" config-ref="Amazon_S3_Configuration" bucketName="g13-inventory" key="Orders.csv"/>
				<ee:transform doc:name="Transform Message" doc:id="26dd245f-c520-4097-a152-40e06e74138d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Item_ID: payload01.Item_ID,
	Item_Name: payload01.Item_Name,
	Email: payload01.Email
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:bulk-insert doc:name="Bulk insert" doc:id="f6c87355-3653-40df-8128-5ba126514b6d" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into Orders (Item_ID,Item_Name,Email)
values (:Item_ID,:Item_Name,:Email)]]></db:sql>
				</db:bulk-insert>
			</route>
		</scatter-gather>
		<set-payload value="Data migrated from s3 to mysql" doc:name="Set Payload" doc:id="71d77c04-2a4c-4d57-b581-dad8e96568c5" />
		<logger level="INFO" doc:name="Logger" doc:id="fd4fec58-858b-4b4f-9564-58cf1198a15e" message="#[payload]"/>
	</flow>
</mule>
