src/main/mule/items.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amazon-dummy="http://www.mulesoft.org/schema/mule/amazon-dummy" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/amazon-dummy http://www.mulesoft.org/schema/mule/amazon-dummy/current/mule-amazon-dummy.xsd">
	<flow name="implementationFlow" doc:id="a2e84e8f-5ef0-40b1-a1f6-29189f07d924" >
		<http:listener doc:name="Listener" doc:id="de92193b-5296-4017-85d0-113b2bc4be21" config-ref="HTTP_Listener_config" path="/amazon/items"/>
		<set-variable value="#[attributes.queryParams.item]" doc:name="Set Variable" doc:id="cb01ad8f-af93-466a-9ad1-281574139193" variableName="varParam"/>
		<choice doc:name="Choice" doc:id="b9cbfb3f-25c4-4d70-9150-db1df246b96e" >
			<when expression="#[attributes.queryParams.item == null]">
				<db:select doc:name="Select" doc:id="4a8c2c4f-d9e4-4bcf-a1b1-829e57ac85bb" config-ref="Database_Config">
			<db:sql><![CDATA[Select * from Items]]></db:sql>
		</db:select>
				<ee:transform doc:name="Transform Message" doc:id="076213ba-c1d5-4f28-9665-5cc7a4065165">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
				<db:select doc:name="Select" doc:id="eddfe9a1-2582-4995-8eb6-e395e23fbc36" config-ref="Database_Config">
					<db:sql ><![CDATA[Select Item_ID, Item_Name, Item_Description, Price, Availability from Items where Item_Name = :Item_Name]]></db:sql>
					<db:input-parameters ><![CDATA[#[{'Item_Name': vars.varParam}]]]></db:input-parameters>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="c6065acc-929b-41ce-9625-71fe95fd2daa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="abafd153-7328-4653-ba40-49a451ab5530" />
	</flow>
	
</mule>
