src/main/mule/wishlist.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amazon-dummy="http://www.mulesoft.org/schema/mule/amazon-dummy"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amazon-dummy http://www.mulesoft.org/schema/mule/amazon-dummy/current/mule-amazon-dummy.xsd">
	<flow name="postWishlist" doc:id="8b8e62e8-2745-40c5-bed6-1be1b55c871e">
		<http:listener doc:name="Listener" doc:id="a79bbe9d-d065-4475-a5ae-0da61668ffa5" config-ref="HTTP_Listener_config" path="/amazon/wishlist" />
		<ee:transform doc:name="Transform Message" doc:id="31f19c5f-baff-4fa8-8aff-0e6ee244e988">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Price: payload01.Price,
	Item_Name: payload01.Item_Name,
	Item_ID: payload01.Item_ID,
	Availability: payload01.Availability,
	Email: attributes.queryParams.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="1f9ab0e2-0aee-496d-a23f-f21bbc0f8d6c" config-ref="Database_Config">
			<db:sql><![CDATA[insert into Wishlist (Item_ID, Item_Name, Price, Availability, Email) 
values (:Item_ID, :Item_Name, :Price, :Availability,:Email)]]></db:sql>
		</db:bulk-insert>
		<set-payload value="Item(s) added to wishlist" doc:name="Set Payload" doc:id="7a631f4a-0a23-4287-aaf4-f5cab739ac8d" />
	</flow>
	<flow name="getWishlist" doc:id="7d362a32-223a-4cc9-af8d-b44f04fbf98e" >
		<http:listener doc:name="Listener" doc:id="5ed4a882-fd3c-4bda-8ed2-5a3e5b7bc5a7" config-ref="HTTP_Listener_config" path="/amazon/viewWishlist"/>
		<db:select doc:name="Select" doc:id="90e95c9a-224b-4c24-8c5a-4b9f0ac4c02c" config-ref="Database_Config">
			<db:sql ><![CDATA[Select Item_ID,Item_Name,Price from Wishlist where Email = :Email]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'Email':attributes.queryParams.email}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1f27c1d9-dd39-47f5-8b26-74bf693c479d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
</mule>
